html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

/* Estilo Menu*/
.menu{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: #3d2304;
    overflow: hidden;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
   
}
.menu li
{
    flex: 1;
    text-align: center;
}

.menu a{
    display: block;
    color: #deb069;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu a:hover {
    background-color: #7f6000;
    border: 2px solid #deb069;
    border-radius: 20px;
    transition: 0.5s;
}

/* Estilo Home*/

.home
{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home h1, h2
{
    font-size: 40px;
    color: #deb069;
}

.home p
{
    text-align: justify;
    margin: 20px;
    line-height: 1.6;
    color: #ffffff;
    font-size: 26px;
}

.artigos-destaque
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.artigos-destaque ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.artigos-destaque li
{
    background-color: #3d2304;
    border: 2px solid #deb069;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.artigos-destaque li:hover
{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.artigos-destaque li a
{
     text-decoration: none;
    color: #deb069;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
}

.artigos-destaque li a:hover
{
    color: #7f6000;
}
/** Estilo Sobre ODS*/

.sobre-ods
{
    background-color: #3d2304;
    border: 2px solid #deb069;
    margin: 20px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
.sobre-ods h1
{
    text-align: center;
    color: #deb069;
    font-size: 36px;

}

.sobre-ods h3
{
    color: #deb069;
    font-size: 28px;
}


.sobre-ods p
{
    text-align: justify;
    margin: 25px 0;
    font-size: 22px;
}
.lista-ods16 {
    margin-left: 20px;
}
.lista-ods16 li {
    margin-bottom: 15px;
    font-size: 22px;
    padding-left: 25px;
    list-style: square;
}

/* Estilo CardArtigo*/

.artigo-page
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card-artigo {
    background-color: #3d2304;
    border: 2px solid #deb069;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 600px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-artigo a 
{
    text-decoration: none;
    color: #deb069;
    font-weight: bold;
    font-size: 26px;
    transition: color 0.3s;
}


.card-artigo a:hover 
{
    color: #7f6000;
}

.artigo-completo
{
    background-color: #3d2304;
    border: 2px solid #deb069;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 800px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 22px;
}

.artigo-completo h1
{
    text-align: center;
    color: #deb069;
    font-size: 36px;
    margin-bottom: 20px;
}

.artigo-completo p
{
    text-align: justify;
    margin: 25px 0;
    font-size: 22px;
}

/* Estilo pagina nao encontrada*/

.nao-encontrada-page {
    text-align: center;
    margin-top: 100px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.nao-encontrada-page h1 {
    font-size: 48px;
    color: #deb069;
    margin-bottom: 20px;
}

.nao-encontrada-page a 
{
    text-decoration: none;
    color: #deb069;
    font-weight: bold;
    font-size: 26px;
    transition: color 0.3s;
}

.nao-encontrada-page a:hover {
    color: #7f6000;
}


