.menu{
    diplay: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: #3d2304;
    overflow: hidden;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
   
}
.menu li
{
    flex: 1;
    text-align: center;
}

.menu a{
    display: block;
    color: #deb069;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu a:hover {
    background-color: #7f6000;
    border: 2px solid #deb069;
    border-radius: 20px;
    transition: 0.5s;
}